.main-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
}

.main-div {
    min-height: 100vh;
    background: linear-gradient(to bottom, #4a148c, #7b1fa2);
    color: white;
    padding: 24px;
    position: relative;
}

.main-box {
    background-color: white;
    color: #4a148c;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 32px;
}

.main-box p {
    font-size: 18px;
    font-weight: 600;
}

.main-box button {
    margin-top: 16px;
    background-color: #6a1b9a;
    color: white;
    padding: 8px 16px;
    border-radius: 24px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.module-list-head {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 540px;
}

.module-list-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    max-width: 660px;
    margin: 0 auto;
}

.module-list-scetion {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.module-list-vertical-lines {
    position: absolute;
    left: 32px;
    top: 0px;
    transform: translateY(-16px);
    width: 0px;
    border-left: 2px dashed white;
    height: 40px;
}

.module-list-number {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
    color: #4a148c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.module-title-and-lesson{
    margin-left: 24px;
}
.module-title{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.module-lession{
    font-size: 14px;
    color: #d1c4e9;
}
.link-class{
    text-decoration: none;
}
/* .module-list-section {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.module-title-and-lesson {
  display: flex;
  flex-direction: column;
} */

.right-arrow {
  width: 16px; /* Adjust size as needed */
  height: 16px;
}
.right-arrow-div{
    position: absolute;
    right: -80px;
}