.progress-container {

  background-color: #6b21a8;
  min-height: 94.5vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  /* background-image: url('/bg-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; */

}
/* .bg-img{
   background-image: url('public\bg-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  opacity: 0.8;
} */


.progress-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}


.roadmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

/* Step styles */
.roadmap {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Circular checkmark container */
.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #6b21a8;
  /* Purple for the checkmark */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Optional shadow */
}

.roadmap-text {
  font-size: 18px;
  font-weight: 500;
  color: white;
}


.continue-button-chapter {
  margin-top: 50px;
  padding: 12px 65px;
  font-size: 16px;
  color: #8e24aa;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 503px;
  font-weight: bold;

}

.continue-button-chapter:hover {
  background-color: #e5d3f7;
}

.progress-back {
  width: 25px;
  left: 20px;
  position: absolute;
}
